doctype html
html
  head
    title KVD
    include /header.jade
  body
    p Get to the choppa!!
    a(href="folder") To tha choppa!
    i(class="material-icons") devices_other
    
    include /footer.jade
